<form class="index-form" action="/tickets" method="post">
  <div>
    <label for="accountname">Zendesk Account Name</label>
    <input class="input" type="text" placeholder="API Subdomain" name="accountname" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input class="input" type="text" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input class="input" type="password" name="password" required>
  </div>
  <button id="get-ticket-btn">Get Tickets</button>
</form>

