body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #2F3941;
}

.container{
  width: 80%;
  display: flex;
}

/* #side-nav-bar {
  width: 10%;
  background-color:  rgb(216, 220, 222);
  display: flex;
  flex-direction: column;
} */

.sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #03363D;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #68737D;
  display: block;
}

.sidenav a:hover {
  color: white;
  text-decoration: none;
}

.side-link {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #2F3941;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  background-color: rgb(216, 220, 222);
  border-radius: 5px;
  list-style: none;
}

#main {
  margin-left: 70px; /* Same as the width of the sidenav */
  /* width: 85%; */
  margin-top: 3%;
}

.index-form {
  width: 16%;
  margin-left: 1rem ;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.input {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#get-ticket-btn {
  margin-top: 0.7rem;
  color: #2F3941;
}

.total-tickets {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.tickets-title-bar {
  display: flex;
  margin-left: 1rem;
  font-weight: bold;
  color: #2F3941;
  font-size: 0.8rem;
  width: 80%;
}

.tickets-container {
  display: flex;
  margin-left: 1rem;
  text-decoration: none;
  color: #2F3941;
  font-size: 0.8rem;
  width: 80%;
}

.id-column {
  width: 5%;
}

.subject-column {
  width: 30%;
}
.status-column {
  width: 8%;
}

.type-column {
  width: 8%;
}

.requester-column {
  width: 12%;
}

.assignee-column {
  width: 12%;
}

.tickets-page-links {
  display: flex;
  width: 60%;
  margin: 1rem 0;
  text-align: center;
  justify-content: center;
}

.page-link {
  margin-left: 1rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-decoration: none;
  color: #2F3941;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  /* padding: 20px 6px; */
  background-color:rgb(216, 220, 222);
  border-radius: 5px;
  width: 4rem;
}

.single-ticket-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  font-size: 0.8rem;
  width: 80%;
}

.single-ticket-title-column {
  width: 18%;
}

.ticket-id {
  margin-right: 1rem;
}

.single-ticket-title, .ticket-id {
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 1rem;
}

.single-ticket-content-column {
  width: 55%;
}

.single-ticket-content {
  flex-direction: column;
  margin-bottom: 1rem;
}

.error-message {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: red;
}